<ion-header>
  <ion-navbar>
    <ion-title>
      News
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Please Search to filter
      <ion-searchbar placeholder="Search e.g. Trump" (ionInput)="searchArticles()" [(ngModel)]="searchText">
      </ion-searchbar>
    </ion-card-content>
  </ion-card>

  <ion-content>
    <ion-list>
      <ion-card *ngFor="let article of articles">
        <ion-row>
          <ion-col>
            <img [src]="article.urlToImage" />
          </ion-col>
          <ion-col col-8>
            <h4> {{ article.title }}</h4>
            <p>{{ article.timeElapsed }}</p>
            <ion-thumbnail item-right class="news-thumbnail"> <img [src]="article.sourceThumbnail" /></ion-thumbnail>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="scrollInfinite($event)" *ngIf="loadMore">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more news..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-content>